# Minikube state
minikube/
*.log

# OS files
.DS_Store
Thumbs.db

# Kubernetes
kubectl-*.pid
*.tmp

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
tfplan
terraform.tfvars
.terraform.lock.hcl

# Kubeconfig
kubeconfig.yaml
.kube/
